In [1]:
# each ad has a different click through rate and the goal of our UCB or Thompson sampling algorithm will be to identify as
# fast as possible the ad that has the highest click through rate.

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
dataset = pd.read_csv('Ads_CTR_Optimisation.csv')
dataset.head()

   Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0     1     0     0     0     1     0     0     0     1      0
1     0     0     0     0     0     0     0     0     1      0
2     0     0     0     0     0     0     0     0     0      0
3     0     1     0     0     0     0     0     1     0      0
4     0     0     0     0     0     0     0     0     0      0

In [ ]:
import math 
N = 10000
d = 10 # num of ads
ads_selected = []
numbers_of_selections = [0] * d # for each ad
sums_of_reward = [0] * d
total_reward = 0
for n in range(0, N): 
    ad = 0
    max_upper_bound = 0
    for i in range(0, d):
        if(numbers_of_selections[i] > 0):
            average_reward = sums_of_reward[i] / numbers_of_selections[i]
            delta_i = math.sqrt(3/2 * math.log(n + 1) / numbers_of_selections[i])
            upper_bound = average_reward + delta_i